/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* .css-1g6bef2-MuiPaper-root-MuiCard-root {
    min-width: 230px !important;
} */

/* .MuiCard-root {
  min-width: 262px !important;
} */


/* src/index.css or public/styles.css */

:root {
  /* Colors */
  --primary-color: #007bff; /* Blue */
  --secondary-color: #6c757d; /* Gray */
  --success-color: #28a745; /* Green */
  --background-light: #f4f6f8;
  /* --background-dark: #6D60B2; */
  --background-dark: #605693;
  --text-dark: #212529;
  
  /* Typography */
  --font-family-base: 'Arial', sans-serif;
  --font-size-large: 1.5rem;
  
  /* Layout/Spacing */
  --spacing-unit: 8px;
  --border-radius-base: 4px;
  --box-shadow-elevation: 0 4px 6px rgba(0, 0, 0, 0.1);
}