@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-secondary
}
.scrollbarhHide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbarHide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}